
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Home */
.homeWrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}
.homeBody {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px;
}
.homeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homelink {
  display: inline-block;        
  padding: 12px 24px;           
  background-color: #2a6aaf;    
  color: white;                 
  text-decoration: none;        
  border-radius: 8px;          
  border: none;                 
  font-weight: 600;             
  font-size: 1.6rem;
  transition: all 0.3s ease;    /* Animation fluide */
  box-shadow: 0 4px 8px rgba(3, 45, 90, 0.3); /* Ombre */
}
.homelink:hover {
  background-color: #0056b3;    
  transform: translateY(-2px);  /* Effet surélévation */
  box-shadow: 0 6px 12px rgba(0,123,255,0.4);
}
.homelink:active {
  transform: translateY(0);     /* Enfoncé au clic */
}

/* Header */
.headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-image: url('/images/bluebanner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 150px;
    width: 100%;
}
.headerDiv {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    perspective: 1000px; /*deplacement 3d*/
    perspective-origin: 20% 50%; /*deplacement 3d*/
}
.headerLink { /*.headerWrapper a {  */         /* Cible <a> à l'intérieur de Link */
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    display: inline-block; /* Important pour transform */
    transform-style: preserve-3d; /*deplacement 3d*/
    transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Animation fluide */
}
.headerLink.active { 
    transform: translate3d(0, 8px, 50px) ; /*deplacement 3d */
    text-shadow:/*deplacement 3d */
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6),
    0 0 15px rgba(170, 202, 228, 0.8);
}

/* Footer */
.footerWrapper {
    background-image: url('/images/lightbluebanner.webp');
    min-height: 150px;
    width: 100%;
}

/* Presentation */
.presentationWrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}
.presentationBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 80px;
}
.presentationPhoto {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.presentationText{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5;
}
.presentationEm {
    font-size: 1.1rem;
    color:rgb(60, 58, 58)
}

/* skills */
.skillsWrapper {
    display:flex;
    min-height:100vh;
    flex-direction: column;
}
.skillsBody {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 80px;
    gap: 50px;
}
.skillsDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(83, 80, 80);
}
.skillsCarouselWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;  
}
.skillsCarousel {
    flex:1;
    min-width: 300px;
}
/* portfolio */
.portfolioWrapper {
    display:flex;
    min-height:100vh;
    flex-direction: column;
}
.portfolioBody {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px 80px;
}
.portfolioFilters {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px;
}
.portfolioFilter {
    padding: 8px;
    background-color: #111ba5;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 
    0 4px 12px rgba(17, 27, 165, 0.6),   
    0 8px 20px rgba(0, 0, 0, 0.5),        
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.portfolioDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.portfolioImage {
    object-fit:cover;
    display: block;
    margin: 0 auto;
    height: 200px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}
.portfolioText {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 3px;
}
.portfolioComment {
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 10px;
}
.portfolioLink {
    color: blue;
}
/* modal */
.modalOverlay {
  position: fixed; /* Pour sortir du flux normal */
  z-index: 9999; /* Doit être au-dessus de tout */
  background-color: transparent;

  top: 0;  left: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;    
  justify-content: center; 
}
.modalContent {
  width: 300px;
  height: 400px;
  padding: 20px;
  background-color: white; 
}
.modalTitle {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.modalText {
    white-space: pre-line; /* Transforme \n en <br> */
}

/* contact */
.contactWrapper {
    display:flex;
    min-height:100vh;
    flex-direction: column;
}
.contactBody {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 80px;
}
.contactIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
/* contactUs*/
.contactUsFields {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contactUsLabel {
    font-weight: bold;
    width: 100px;
    display: inline-block;
}
.contactUsInput {
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: #2a6aaf;    
    color: white;         
    border-radius: 8px; 
    text-align: center;       
    border: none;            
    font-size: 1.1rem;
    transition: all 0.3s ease;    /* Animation fluide */
    box-shadow: 0 4px 8px rgba(3, 45, 90, 0.3); /* Ombre */                      
}
.contactUsInput:hover {
  background-color: #0056b3;    
  transform: translateY(-2px);  /* Effet surélévation */
  box-shadow: 0 6px 12px rgba(0,123,255,0.4);
}
.contactUsInput:active {
  transform: translateY(0);     /* Enfoncé au clic */
}
.contactUsSubmit {
    display: flex;
    justify-content: center;
    margin: 15px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .homeBody {
        flex-direction: column;
    }
    .headerWrapper {
        flex-direction: column;
    }
    .portfolioBody {
        flex-direction: column;
        gap: 20px;
    }
}
